
// -----------------------------------------------------------------------------

// FIXME better place: global
// FIXME better reset
* {
    margin: 0;
    padding: 0;
}


// FIXME better place: global
html {
    height: 100%;
}

// FIXME better place: global
body {
    font-family: Menlo, Consolas, 'DejaVu Sans Mono', monospace;
    width: 100%;
    height: 100%;
}

// FIXME better place: global
#root {
    background: #1a1a1a;
    width: 100%;
    height: 100%;
}

// -----------------------------------------------------------------------------


.hotkeys {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

    .editor {
        color: #ddd;
        font-size: 16px;
        line-height: 1.8em;

        height: 100%;
        max-width: 900px;

        padding: 30px 20px;
        margin: 0 auto;

        box-sizing: border-box;
        outline: 0;
    }

    .file-dialog {
        position: absolute;
        left: -99999em;
    }

}
