[data-theme='black'] {
  --color: #f4f4f2;
  --background-color: #0a0a0f;
  --color-inverted: #0a0a0f;
  --background-inverted: #f4f4f2;
  --font-family: 'DejaVu Sans', system-ui, -apple-system, 'Segoe UI', 'Roboto',
    'Ubuntu', 'Cantarell', 'Noto Sans', sans-serif;
}