[data-theme='green'] {
  --color: #c6c7b3;
  --background-color: #323f37;
  --color-inverted: #323f37;
  --background-inverted: #c6c7b3;
  --font-family: 'DejaVu Sans', system-ui, -apple-system, 'Segoe UI', 'Roboto',
    'Ubuntu', 'Cantarell', 'Noto Sans', sans-serif;
}