[data-theme='red'] {
  --color: #ede1c5;
  --background-color: #532728;
  --color-inverted: #daa9aa;
  --background-inverted: #2f1414;
  --font-family: 'DejaVu Sans', system-ui, -apple-system, 'Segoe UI', 'Roboto',
    'Ubuntu', 'Cantarell', 'Noto Sans', sans-serif;
}