[Desktop Entry]
Type=Application
Name=Blank
GenericName=Markdown Editor
Comment=A quiet place to write
Exec={{exec}} %f
StartupWMClass={{exec}}
Icon={{icon}}
Terminal=false
Categories=Utility;TextEditor;
MimeType=text/markdown;text/x-markdown;application/vnd.openxmlformats-officedocument.wordprocessingml.document;
Keywords=markdown;writing;editor;text;pdf;word;docx;
