$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-black: 900;

@mixin heading($size, $weight, $spacing) {
  font-size: #{$size}rem;
  font-weight: $weight;
  margin-top: 0.75em;
  margin-bottom: 0.25em;
  & + & {
    margin-top: 1em;
  }
}

h1 {
  @include heading(5, $font-weight-light, -1.5);
}
h2 {
  @include heading(3.75, $font-weight-light, -0.5);
}
h3 {
  @include heading(3, $font-weight-regular, 0);
}
h4 {
  @include heading(2.125, $font-weight-regular, 0.25);
}
h5 {
  @include heading(1.5, $font-weight-regular, 0);
}
h6 {
  @include heading(1.25, $font-weight-medium, 0.15);
}

p {
  margin-top: 0.5em;
  margin-bottom: 1.5em;
}

ul,
ol {
  margin: 1.5rem 0;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

li {
  margin-left: 2rem;
  padding-bottom: 0.25em;
}

strong,
b {
  font-weight: 500;
}

em,
i {
  font-style: italic;
}

u {
  text-decoration: underline;
}

hr {
  color: var(--color);
  margin: 2rem 0;
}
